.iconFaTrashAlt {
    background-color: rgb(228, 89, 89);
    margin: 0em 0em 0em 0.5em;
    padding: 0.13rem 0.35rem 0.13rem 0.34rem;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px rgb(177, 177, 177);
}

.iconFaTrashAlt:hover {
    background-color: #ff0033;
    box-shadow: 0 2px rgb(175, 159, 159);
    transform: translateY(4px);
}