.democard {
    width: 18rem;
    height: auto;
}

.democardbody {
    background-color: lightblue;
    margin: 0.2em;
}


button {
    padding: 15px 25px;
    margin-top: 15px;
    max-width: 250px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00438f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #00B5F5;
    box-shadow: 0 2px rgb(175, 159, 159);
    transform: translateY(4px);
}