.contenedorItemCount {
    align-items: center;
}

.contenedorItemCount .btnCount {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.btnCount div {
    margin: 0.3rem;
}

.btn_count_less {
    margin: 0em 0.5em 0em 0em;
    padding: 0.17rem 0.4rem 0.17rem 0.4rem;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px rgb(177, 177, 177);
}

.btn_count_add {
    margin: 0em 0em 0em 0.5em;
    padding: 0.13rem 0.35rem 0.13rem 0.34rem;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px rgb(177, 177, 177);
}

.btn_count_add:hover,
.btn_count_less:hover {
    background-color: #00f1f5;
    box-shadow: 0 2px rgb(175, 159, 159);
    transform: translateY(4px);
}

.btn_count_add_deactivate,
.btn_count_less_deactivate {
    display: none;
}

.btn_add {
    padding: 15px 25px;
    margin-top: 15px;
    max-width: 250px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #00438f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.btn_add:hover {
    background-color: #00B5F5;
    box-shadow: 0 2px rgb(175, 159, 159);
    transform: translateY(4px);
}

@media screen and (max-width: 600px) {


    .btn_count_less {
        margin: 0em 0.5em 0em 0em;
        padding: 0.17rem 0.4rem 0.17rem 0.4rem;
        border: none;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 5px rgb(177, 177, 177);
    }

    .btn_count_add {
        margin: 0em 0em 0em 0.5em;
        padding: 0.13rem 0.35rem 0.13rem 0.34rem;
        border: none;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 5px rgb(177, 177, 177);
    }

    .btn_add {
        padding: 15px 25px;
        margin-top: 15px;
        max-width: 250px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #00438f;
        border: none;
        border-radius: 15px;
        box-shadow: 0 5px #999;
    }
}